<% provide(:title, @entry.title) %>
<div class="row">
  <aside class="col-md-9">
    <section>
      <h1>
        <%= @entry.title %>
        <hr>
        <%= @entry.user.name %>
      </h1>
    </section>
    <hr>
    <section class="stats">
      <%= image_tag @entry.picture.url if @entry.picture? %>
      <hr>
      <%= @entry.content %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @entry.comments.any? %>
      <p>Comments (<%= @entry.comments.count %>)</p>
      <ol class="entries">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
    <% end %>
  </div>

</div>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="comment_form">
        <%= render 'shared/comment_form' %>
      </section>
    </aside>
<% end %>